/* style.css */

/* small helper for line clamp if not using plugin */
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0.45);
}

body {
    background-image:
        linear-gradient(rgba(158, 143, 143, 0.6), rgba(150, 99, 99, 0.7)),
        url('/hinh/mushroom.png'); /* Cần đảm bảo đường dẫn này tồn tại */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f8f8f8; /* Fallback color */
}

/* Thêm style để làm nổi bật danh mục được chọn */
.category-item {
    cursor: pointer;
    padding: 4px 0;
    padding-left: 5px; /* Giữ khoảng cách khi chưa active */
    transition: color 0.2s, padding-left 0.2s, border-left 0.2s;
    color: #4B5563; /* text-gray-600 */
}

.category-item:hover {
    color: #10B981;
    /* emerald-500 */
}

.category-item.active {
    font-weight: 600;
    color: #065F46;
    /* emerald-900 */
    border-left: 3px solid #047857;
    /* emerald-700 */
    padding-left: 10px;
}